@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: top top;
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
.toggle input[type='checkbox'] {
    display: none;
  }
  
  .toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 50px;
    height: 25px;
  }
  .toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 22px;
    height: 22px;
  }
  .toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
  }
  
  .toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(40px);
  }
  .toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
  }
  
  .toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(40px);
  }
  body.dark-theme {
    background-color: #333;
    color: #F3F9FB;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 8%;
}

.main-ourse{
width: 80%;
margin: auto;
}
.sign-out-btn {
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 9px 35px;
    border-radius: 30px;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
 .main-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
} 

#items {
  border-collapse: collapse;
  width: 100%;
}

#items td, #items th {
  border: 1px solid #000;
  padding: 10px;
}

#items th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px;
  color: #000;
}
#items .last td:last-child {
    padding: 24px;  
}

.Download-btn {
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    /* padding: 5px 25px; */
    /* border-radius: 30px; */
    font-size: 1rem;
}

@media screen and (max-width: 760px) {
        body {
        height: 100vh;
        }
    
        #items {
    border-collapse: collapse;
    width: 100%;
    }
    .logo {
        width: 25%;
    }
    .sign-out-btn {
    padding: 5px 30px;
    }
   
}

.edit{
background-color: green;
text-decoration: none;
cursor: pointer;
padding: 5px;
 color: white;
 font-weight: bold;
}
.delete{
     font-weight: bold;
    color: white;
    padding: 5px;
cursor: pointer;
border: none;
background-color: red;
}