body{
  background-color: #F3F9FB;
}
img {
  border-radius: 80%;
}
.toggle input[type='checkbox'] {
  display: none;
}

.toggle label {
  background-color: #777;
  border: 2px solid #555;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 50px;
  height: 25px;
}
.toggle label::after {
  background-color: #555;
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.3s;
  width: 22px;
  height: 22px;
}
.toggle input[type='checkbox']:checked ~ label {
  background-color: #00a0fc;
  border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
  background-color: #0054b0;
  transform: translateX(40px);
}
.toggle input[type='checkbox']:checked ~ label {
  background-color: #00a0fc;
  border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
  background-color: #0054b0;
  transform: translateX(40px);
}
body.dark-theme {
  background-color: #333;
  color: #F3F9FB;
}
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #113F67;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    #mk:hover{
      color: #113F67;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 0px;
      }
      .row.content {height: auto;} 
    }

    @media screen and (max-width: 500px) {
      .margin-top {
        margin-top: 30px;
      }
    }

  .cl{
    color: white;
  }

  .logo{
    width: 50px;
    height: 50px;
  }

.profile{
  height:100px;
  padding:10px 20px 10px;
}

.set{
  padding-left: 80%;
}
.pn{
padding: 10px 10px ;
color: white;
text-transform: uppercase;
font-weight: 1000px;
}

.side{
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.side:hover {
 color: #113F67;
}