@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body{
   margin: 0;
   font-family: 'Lato', sans-serif;
}


.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  /* top: 0;
  left: 0; */
    width: 100%;
    padding: 0 7rem;
    padding-top: 1rem;
    z-index: 100;
}

.brand-container {
    display: flex;
    align-items: center;
}

a~img {
    height: 100%;
    
}

.brand-image {
    display: block;
     width: 100px;
}



.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item a {
    color: #274970;
    text-decoration: none;
    margin: 0 0.45rem;
    padding: 0 0.5rem;
    padding-bottom: 7px;
    font-weight: bold;
}

.alert-danger{
text-align: center;
background: red;
margin: auto;
color: white;
font-size: 1.3rem;
border-radius: 5px;
padding: 10px;
}

.alert-success{
text-align: center;
background: greenyellow;
margin: auto;
color: white;
font-size: 1.3rem;
border-radius: 5px;
padding: 10px;
}