@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {

    height: 100%;
    font-family: 'Lato', sans-serif;
  }
  .toggle input[type='checkbox'] {
    display: none;
  }
  
  .toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 50px;
    height: 25px;
  }
  .toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 22px;
    height: 22px;
  }
  .toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
  }
  
  .toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(40px);
  }
  .toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
  }
  
  .toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(40px);
  }
  body.dark-theme {
    background-color: #333;
    color: #F3F9FB;
  }

  li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #274970;
  text-decoration: none;
}

.logo {
  width: 10%;
  margin-right: auto;
  margin-left: 80px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
}

.nav__links {
  list-style-type: none;

}