* {
   }
body {
    
}
    .container{
        display: flex;
        flex-flow: row wrap;
       
       
    }
    .sucess-message{
        display: none;
    }
    .toggle input[type='checkbox'] {
        display: none;
      }
      
      .toggle label {
        background-color: #777;
        border: 2px solid #555;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all ease-in-out 0.3s;
        width: 50px;
        height: 25px;
      }
      .toggle label::after {
        background-color: #555;
        border-radius: 50%;
        content: ' ';
        cursor: pointer;
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all ease-in-out 0.3s;
        width: 22px;
        height: 22px;
      }
      .toggle input[type='checkbox']:checked ~ label {
        background-color: #00a0fc;
        border-color: #006dc9;
      }
      
      .toggle input[type='checkbox']:checked ~ label::after {
        background-color: #0054b0;
        transform: translateX(40px);
      }
      .toggle input[type='checkbox']:checked ~ label {
        background-color: #00a0fc;
        border-color: #006dc9;
      }
      
      .toggle input[type='checkbox']:checked ~ label::after {
        background-color: #0054b0;
        transform: translateX(40px);
      }
      body.dark-theme {
        background-color: #333;
        color: #F3F9FB;
      }
    .logo{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: #274970;
        color: white;
       
    }
    img {
        max-width: 100%;
        border-style: none;
        height: 50px;
        width: 50px; 
        vertical-align: middle;
         }
    .form-container{
             display: flex;
             justify-content: center;
             flex: 1;
             background-color: #F3F9FB;
            
             padding: 50px;
           
         }
    .details, .review{
             padding: 20px;
         }
    .input{
             margin: 10px;
         }
    .comments{
             padding-left: 80px;
    }
    .btn {
             border-radius: 75px;
             border-style: none;
             background-color: #274970;
             color: white;
             padding: 10px;
             margin-top: 10px;
             cursor: pointer;
        }
            
           

              @media (max-width: 576px) {
                  
                .logo {
                 display: none; }
                 
                 
                .form-container{
                 
                 padding: 0px;
                
                }
                } 