@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}

img {
  border-radius: 80%;
}
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #113F67;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    #mk:hover{
      color: #113F67;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 0px;
      }
      .row.content {height: auto;} 
    }
    .cl{
      color: white;
    }

    .logo{
      width: 50px;
      height: 50px;
    }

  .profile{
    height:100px;
    padding:10px 20px 10px;
  }

  .set{
    padding-left: 80%;
  }
  .pn{
  padding: 10px 10px ;
  color: white;
  text-transform: uppercase;
  font-weight: 1000px;
  }

  .side{
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  .side:hover {
  color: #113F67;
  }


  .comment-wrapper .panel-body {
      max-height:650px;
      overflow:auto;
  }

  .comment-wrapper .media-list .media img {
      width:64px;
      height:64px;
      border:2px solid #e5e7e8;
  }

  .comment-wrapper .media-list .media {
      border-bottom:1px dashed #efefef;
      margin-bottom:25px;
  }
  .panel-info {
      border: 1px solid rgba(17, 63, 103, 0.5);
      background-color: #F3F9FB
  }
  .panel-body {
      padding: 20px;
      line-height: 25px;
  }
  .color {
      color: #113F67;
      font-weight: 550;
      font-size: 16px;
  }
  .color-1 {
      color: #113F67;
  }
   
