body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

input:hover, .nav-item:hover {
    background: #f3f9fb;
    color: #113f67;
}

@media screen and (min-width: 1024px){
    .view{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .sidebar{
        width: 25%;
        height: 100%;
        background: #113f67;
        color: #f3f9fb;
        display: flex;
        flex-flow: column;
    }

    .nav-name-display{
        display: flex;
        flex-flow: row;
        height: auto;
        margin: 10% 5%;
    }

    .nav-image{
        width: 30%;
        line-height: 43px;
    }

    .nav-name{
        margin-left:5%; 
        width: auto;
        font-size: 30px;
        line-height: 43px;
    }

    .p-image {
        width: 100px;
        height:100px;
        border-radius: 50%;
    }

    .navigation {
        margin: 5% 5%;
    }

    .nav-item{
        font-size: 24px;
        line-height: 29px;
        border-radius: 12px;
    }

    .profile-section{
        background: #f3f9fb;
        width: 75%;
        color: #113f67;
    }

    .inner-profile{
        display: flex;
        flex-flow: column;
        width: 70%;
        margin: auto;
    }

    .profile-section-image{
        width: auto;
        margin: 2%;
    }

    .profile-image{
        width: 15%;
        border-radius: 50%;
    }

    .change-profile-image{
        font-size: 16px;
        line-height: 24px;
        border-radius: 12px;
        padding: 5px;
    }

    .change-profile-image:hover{
        background: #113f67;
        color: #f3f9fb;
    }

    .profile-info{
        margin: 0 2%;
        font-size: 26px;
        line-height: 20px;
        text-align: start;
        width: 100%;
    }

    .class-list{
        margin: 0 2%;

        font-size: 20px;
    }

    th{
        font-size: 22px;
        text-align: start;
    }

    th, td{
        padding: 10px;
    }

    input{
        border-radius: 15px;
        padding: 10px;
        background: #113f67;
        color: #f3f9fb;
    }
    
}


@media screen and (max-width: 1023px){
    
    .view{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .sidebar{
        width: 100%;
        height: auto;
        background: #113f67;
        color: #ffffff;
        display: flex;
        flex-flow: column;
    }

    .nav-name-display{
        display: none;
    }

    .navigation {
        margin: 5% 5%;
    }

    .nav-item{
        font-size: 24px;
        line-height: 29px;
        border-radius: 12px;
    }

    .nav-image{
        width: 30%;
        line-height: 43px;
    }

    .nav-name{
        margin-left:5%; 
        width: auto;
        font-size: 30px;
        line-height: 43px;
    }

    .p-image {
        width: 100px;
        height:100px;
        border-radius: 50%;
    }

    .profile-section{
        background: #f3f9fb;
        width: 100%;
        color: #113f67;
    }

    .inner-profile{
        display: flex;
        flex-flow: column;
        width: 80%;
        margin: auto;
    }

    .profile-section-image{
        width: 80%;
        margin: 2%;
    }

    .profile-image{
        width: 20%;
        border-radius: 50%;
    }

    .change-profile-image{
        font-size: 16px;
        line-height: 24px;
    }

    .profile-info{
        margin: 0 2%;
        font-size: 20px;
        text-align: start;
        width: 80%;
    }

    .class-list{
        margin: 0 2%;
        font-size: 20px;
    }

    .teacher-name{
        display: none;
    }

    th{
        font-size: 21px;
        text-align: start;
    }

    th, td{
        padding: 10px;
    }

    input{
        border-radius: 15px;
        padding: 10px;
        background: #113f67;
        color: #f3f9fb;
    }

}