@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: top top;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
li, a, button {
  font-weight: 500;
  font-size: 16px;
  color: #274970;
  text-decoration: none;
}
.logo {
  width: 10%;
  margin-right: auto;
  margin-left: 50px;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
}
.nav__links {
  list-style-type: none;

}
.nav__links li {
  display: inline-block;
  padding: 0 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: 19px;

}
.nav__links li a:hover {
  transition: all 0.3s ease 0s;
  color: #274965;
}
button {
  margin-left: 30px;
  text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
  transition: all 0.3s ease 0s;
}
button:focus {
  outline: none;  
}
.mb-5 {
  margin-bottom: 40px;
  
}
.mainbody{
  margin-left: 10rem;
  margin-top: 100px;
  color: #274970;
  font-size: 23px;
	line-height: 35px;
	
}


@media screen and (max-width:760px) {
    body {
    background-color: #fff;
    height: 100vh;
}
    .logo {
  width: 23%;
  }
  .nav__links li{
  display: flex;
  padding: 10px 20px;
  
}
button {
  margin-left: 5px;
    padding: 5px 45px;
}
.mainbody{
  margin-left: 5rem;
  margin-top: 80px;
  text-align: center;
	
}
button {
    padding: 3px 50px;
    font-size: 15px
}
}