@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
  
    height: 100%;
    font-family: 'Lato', sans-serif;
  }
  li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #274970;
  text-decoration: none;
}

.logo {
  width: 10%;
  margin-right: auto;
  margin-left: 80px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
}

.nav__links {
  list-style-type: none;

}
     .picture{
        display: flex;
        position: absolute;
        width: 500px;
        height: 692.31px;
        left: 65%;
        top: 15%;
     }
   
              
            h1{
            display:flex;
            position: absolute;
            width: 275px;
            height: 20px;
            left: 35%;
            top: 25%;
            
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 43px;
            
            color: #274970;
            
            }
            header {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 15px 5%;
              }
           
            .email{
            display: flex;
            justify-content: center;
            position: absolute;
            width: 450px;
            height: 40px;
            top: 45%;
            left: 20%;
            flex-direction: column;
            
            }
            
            
            .text-box input{
                display: flex;
                border-bottom: 1px solid #274970;
                outline: none;
            }
            .email-box input{
                display: flex;
                border-bottom: 1px solid #274970;
                outline: none;
            }
            .Password{
            display:flex;
            position: absolute;
            justify-content: left;
            width: 450px;
            height: 40px;
            left: 20%;
            top: 60%;
            text-align: left;
            margin-top: 10px;
            flex-direction: column;
            
            }
         
            p{
            display: flex;
            position: absolute;
            justify-content: center;
            width: 195px;
            height: 22px;
            left: 48%;
            top: 74%;
            }
            .button{
            position: absolute;
            justify-content: center;
            display: flex;
            width: 290px;
            height: 50px;
            left: 20%;
            top: 83%;
            background: #274970;
            border-radius: 75px;
            cursor: pointer;
            }
            .footer{
                    display: flex;
                    left: 30%;
                    top: 94%;
                    width: 30px;
                    width: 100%;
                    text-align: left;
                    position: absolute;
        
                    font-size: 25px;
                
            
            }
            
            .container{
                width: 100%;
            }
    
            @media only screen and (max-device-width : 768px){
                   .email{
                       display: flex;
                       width: 30%;
                       justify-content: evenly;
                       flex-direction: column;
                       background: #C63305;
                   }
            }
             
        
            
    
            
            
            