* {
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}
body {
  width: 100%;
  /* min-width: 500px; */
  font-family: "Avenir", "Montserrat";
}


ul {
  top: 3%
}

ul li {
  list-style-type: none;
  color: #274970;
}

.color {
  display: grid;
  position: absolute;
  width: 5%;
  height: 150%;
  left: 0;
  top: 0;
  background: #C63305;
  /* transform: rotate(0.27deg); */
}

.logo {
  /* Logo */
  position: absolute;
  left: 130.97%;
  right: 50%;
  top: 2%;
  width: 100px;
  bottom: 82.51%;
}

.about {
  /* About */
  position: absolute;
  width: 66%;
  height: 0%;
  left: 600%;
  top: 7%;
  bottom: 0%;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 20%;
  /* identical to box height */
  color: #274970;
}

.about:hover {
  box-shadow: inset 0 0 0 25px #53a7ea;
}

.about:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(1px);
}

.students {
  position: absolute;
  width: 66%;
  height: 0%;
  left: 900%;
  top: 7%;
  bottom: 0%;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 20%;
  /* identical to box height */
  color: #274970;
}

.students:hover {
  color: #C63305;
}

.students:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(1px);
}

.teachers {
  position: absolute;
  width: 66%;
  height: 0%;
  left: 1300%;
  top: 7%;
  bottom: 0%;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 20%;
  /* identical to box height */
  color: #274970;
}

.teachers:hover {
  color: #C63305;
}

.teachers:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(1px);
}

.bt {
  position: absolute;
  width: 280%;
  height: 46px;
  left: 1650%;
  top: 5%;
  background: #274970;
  color: white;
  -webkit-transition: width 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}

.bt:hover {
  width: 300%;
}

button {
  margin: 1.66%;
  border: none;
  height: 0%;
  font-weight: 500;
  /* color: white; */
  background: #274970;
  color: white;
  letter-spacing: 1px;
  font-size: inherit;
  outline: none;
  width: 50%;
  border-radius: 12px;
}

button:active {
  box-shadow: 0 2px 0 #ffffff;
  transform: translateY(1px);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button:hover {
  border: 1px solid white;
}

.ci {
  /* Ellipse */
  position: absolute;
  left: 94.51%;
  right: -1000%;
  top: -2.45%;
  bottom: 97.57%;
  background: #274970;
}

.p1 {
  position: absolute;
  width: 55%;
  height: 0%;
  left: 25%;
  top: 20%;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 100%;
  text-align: center;
  color: #274970;
}

.read {
  position: absolute;
  width: 3%;
  height: 0%;
  left: 35%;
  top: 30%;
  padding: 10%;
  background: url(20490.jpg);
}

.p2 {
  position: absolute;
  width: 40%;
  left: 10%;
  top: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 100%;
  text-align: center;
  color: #274970;
}

.line {
  position: absolute;
  width: 440px;
  height: 78px;
  left: 220px;
  top: 1056px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.teach {
  width: 2000%;
  height: 0%;
  left: 50%;
  padding: 10%;
  top: 35%;
}