body{
    background-image: url("Mini-class\ App\ designs/background.png");  
    margin: 0;
    padding:0;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top:15px;
}
.child{
    flex:1;
}
.select{
    padding-top:7.5em;
}
.img1 {
    width: 150px;
    height: auto;
}
.img2{
    width:400px;
    height:auto;
}

.signout{
    padding-bottom:3em;
    padding-left:3em;
    align-items: flex-end;
}
.signoutbutton{
    width: 100px;
    height: 25px;
    border-radius: 75px;
    background: blue;
    color:#fff;
    font-size: 13px;
}
section2{
    text-align: center;
    padding-bottom: 3em;
    
}
section3{
    text-align: center;
    
}
form input{
    text-align: center;
    border-left-style:hidden;
    border-right-style:hidden;
    border-top-style:hidden;
    border-bottom-style:solid;
    border-bottom-color: blue;
}

.formbutton{
    width: 150px;
    height: 30px;
    border-radius: 75px;
    background: blue;
    color:#fff;
    font-size: 17px;
    margin-bottom: 2em;
}
.formbutton:hover{
    background:#FF6347;
}
@media screen and (max-width: 798px) {
    body {
        background-image:block;
      }
    .container{
        display:block;
    }
    .img2{
        display:none;
    }
    .img1{
        display:none;  
    }
    .select{
        align-items: center;
    }
    .signout{
        align-items:center; 
    }
  }
  @media screen and (max-width: 377px) {
    body {
        background-image:none;
      }
      .select{
        align-items: center;
    }
    .signout{
        align-items: center;
        text-align: center;
        justify-content: center; 
    }
    .formbutton{
        width: 100px;
        height: auto;
    }
    .signoutbutton{
        width: 80px;
        height: auto;
    }
  }
