<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">    
                <h1>Welcome To CLASSROOM!!</h1>
                <p>View all  the Courses</p>
                <p>       
                        <% if(currentUser && currentUser.position==="teacher"){ %>
                    <a class="btn btn-primary btn-large " href="/courses/new">New Course</a>
                    <% } %>
                </p>
            </div>
        </header> 
        
        <div class="row text-center">
            <% courses.forEach(function(course){ %>
                <div class="col-md-3 col-sm-6 ">
                    <div class="thumbnail">                       
                        <img  src="<%= course.image %>">                    
                        <div class="caption">
                            <h4><%= course.name.toUpperCase() %></h4> 
                        </div>
                        <p>
                            <a href="/courses/<%= course._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div> 
                </div>    
            <% }) %>    
        </div>
    </div>
<!-- <div style="text-align: center">
<h1>Page under costruction. feel free to visit other pages</h1>

<a href="/">HOME</a> -->
</div>
    
    <% include ../partials/footer %>
