@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {box-sizing: border-box;
  
    }
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(background.png);
    font-family: lato;
}

}

h1{ 
    font-size: 36px;
    font-weight: 70px;
   
}
img{
    width: 200px;
    height: 200px;
}
input {
    text-align: center;
    font-size: 24px;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:inline-block;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: #989898;
  }
  input:focus{
       outline: none;
  }
  button{
     
    width: 290px;
    height: 50px;
    border-radius: 75px;
    background-color: #274970;
    color: white;
    font-size: 24px;
  }
  button:hover{
    background-color: #5198e9;
  }
  a{
      color: green;
  }
 