@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-image: url("../Mini-class\ App\ designs/background.png");
    background-size: cover;
    background-position: top top;
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.sign-out-btn {
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 9px 35px;
    border-radius: 30px;
}

.container {
   margin-left: 10rem;
   margin-right: 10rem;
   margin-top: 3rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
h2 {
    margin-bottom: 40px;
}
.column-left {
  text-align: center;
  padding-left: 40px;
  padding-top: 30px;
}

.column-right {
    padding-left: 50px;
    padding-top: 25px;
}
.line {
    border-right: 1px solid #000;
    color: #274970;
    height: 300px;
}
.add-btn {
    display: inline-block;
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 9px 35px;
    border-radius: 30px;
    margin-top: 30px;
    
}
.choose-item {
    display: inline-block;
    text-decoration: none;
    background-color:#C4C4C4;
    color: #000;
    padding: 9px 25px;
    border-radius: 30px;
    margin-right: 25px;
}
.btn {
    text-align: center;
}


#items {
  border-collapse: collapse;
  width: 100%;
}

#items td, #items th {
  border: 1px solid #000;
  padding: 10px;
}

#items th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px;
  color: #000;
}
#items .last td:last-child {
    padding: 70px;  
}
#items .mr:last-child  {
    padding-right: 10rem;
}
@media screen and (max-width:768px) {
    *{
        box-sizing: border-box;
    }
    body {
        height: 100vh
    }
    .container {
    margin-left: 3rem;
    margin-right: 10rem;
    margin-top: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

    .line {
        display:none;
    }
    .column-left {
        margin-top:20px;
        text-align:center;
        padding-right: 0px;
        padding-top: 0px;
    }
    .column-right {
        margin-top: 70px;
        padding-left: 0px;
        padding-top: 0px;
    }
  .logo {
      width:25%;
  }
  .sign-out-btn {
    padding: 5px 30px;
    }
}

/* Responsive for phone views */
@media screen and (max-width: 599px){
    body {
       background-image: none;
   }
}
