<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MATHISI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../frontend/Mini-class App designs/mathisi logo.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/get_started.css">
     <link rel="stylesheet" href="/stylesheets/ham.css">
</head>

<body>

    <header class="mobile-nav-header">
        <div class="moblie-header-cont">
            <a class="navbar-brand" href="/"><img style="width: 100px" src="/images/Logo.svg" class="" alt="Logo"></a>

            <button class="toggle-button">
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
            </button>
        </div>


        <nav class="mobile-nav">
            <ul class="mobile-nav__items">
                <li class="home mobile-nav__item"><a href="/">Home</a></li>
                <li class="about mobile-nav__item"><a href="/about">About</a></li>
                <li class="students mobile-nav__item"><a href="#student">Students</a></li>
                <li class="teachers mobile-nav__item"><a href="#teacher">Teachers</a></li>

            </ul>
        </nav>

    </header>
    <div class="view">

        <div class="main">
            <a href="/"><img class="logo" src="/images/Logo.svg" alt=""></a>

            <p class="learning">Learning Made Easy</p>

            <div class="signup">

                <div class="teacher section">
                    <p class="t-text">Teacher</p>

                    <p class="s-text">Share Materials your students need. Connect your students all over the world and
                        share materials easily.</p>

                    <a href="/register" class="submit">Sign Up As Teacher</a>

                    <a href="/login" class="submit">Log In As Teacher</a>

                </div>

                <hr>

                <div class="student section">
                    <p class="t-text">Student</p>

                    <p class="s-text-s">Find where you belong and learn without discrimination and improve yourself in
                        an aspect.<span>..........................</span></p>

                    <a href="/register2" class="submit">Sign Up As Student</a>

                    <a href="/login" class="submit">Log In As Student</a>
                </div>
            </div>

            <img class="b-img" src="/images/2286871.svg" alt="">

            <img class="x" src="/images/Vector.svg" alt="">
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>
