body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
    color: #113f67;
}

.contact-section{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

input[type = text],
input[type = email],
textarea {
    width: 100%;
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
}

input[type = submit]{
    width: auto;
    padding: 15px; 
    border: 1px solid #113f67; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    background: #113f67;
    color: #f3f9fb;
    text-align: center;  
    float: right;
    }

@media screen and (min-width: 768px){
    .view{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .sidebar{
        width: 25%;
        height: 100%;
        background: #113f67;
        color: #ffffff;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .contact-form-container{
        width: 90%;
        height: auto;
        margin: auto 5%;
        border: 0.5px solid #113f67 ;
        padding: 10px;
    }
}


@media screen and (max-width: 767px){
    .view{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    .sidebar{
        width: 100%;
        height: 20%;
        background: #113f67;
        color: #ffffff;
        display: flex;
        flex-flow: column;
        justify-content: center;
    } 

    .contact-section{
        width: 100%;
        height: 80%;
    }

    .contact-form-container{
        width: 100%;
        height: auto;
        margin: auto 5%;
        padding: 10px;
    }

    img{
        width: 50%;
        margin: auto;
    }
}