*{
    box-sizing: border-box;
}
body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: top top;
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 8%;
}
.sign-out-btn {
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 9px 35px;
    border-radius: 30px;
}
.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content-field {
	padding-left: 10rem;
} 

.content-field h2 {
	color: #274970;

}
.cc-form input{
    /*padding: 10px 10px;*/
	width: 250px;
	font-size: 20px;
	padding: 9px;
    border: none;
    border-bottom: 1px solid black;
    outline:none;
}
.create {
    display: inline-block;
    text-decoration: none;
    background-color:#274970;
    color: #fff;
    padding: 9px 40px;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.content-img {
	padding-right: 1rem 
} 


.abouttext{
	padding: 10%;
	float: left;
	margin-top: -30px;
	font-family: Lato;
	font-size: 24px;
	line-height: 29px;
	color: #274970; 
}

@media screen and (max-width:760px) {
	 body {
        height: 100vh;
        }
	.content {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 50px;
	}
	.content-img {
		text-align: center;
		margin-bottom: 20px;
	}
	.content-field {
		padding-left: 1.5rem;
		text-align: center;
	}
	.cc-form input{
		text-align: center;
	}
	.logo {
		width: 20%;
	}
	.create {
    padding: 5px 30px;
    }
	
}