body {
	margin: 0rem;
	font-family: lato;
}

.container{
	height: 100vh;
	width: 100%;
}

.aside{
	background-color: #C63305;
	float: left;
	height:150vh;
	width: 5%
}

.main{
	height: 100%;
	width: 950%
	float right;
	padding-bottom: 10rem
}

header{
	overflow: hidden;
}

#logo-div{
	float:left;
	padding-left: 0.5rem;
}

.nav-div{
	float: right;
	padding-top: 3rem;
	padding-right: 3rem
}

.signup, button {
	background-color: #274970;
	color: white;
	border-radius: 20px;
	word-spacing: 5px;
	font-size: 20px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top:0.53rem;
	padding-bottom: 0.3rem;
	text-decoration: none;
	margin-top:1rem
}


.content-field {
	float: left;
	padding-left: 2.5rem;
	padding-top: 15rem;
}

.content-field h2 {
	color: #274970;

}
.cc-form input{
    /*padding: 10px 10px;*/
    width: 250px;
    border: none;
    border-bottom: 1px solid black;
    outline:none;
}

.content-img {
	float: right;
	padding-right: 3rem
}


.abouttext{
	padding: 10%;
	float: left;
	margin-top: -30px;
	font-family: Lato;
	font-size: 24px;
	line-height: 29px;
	color: #274970; 
}