@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {box-sizing: border-box;
  padding: 0;
  margin: 0;
    }
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    background: url("../Mini-class\ App\ designs/background.png");
    background-size: cover;
    background-position: top top;
    font-family: lato;
    height: 100vh
}

h1{ 
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.7);
   
}
img{
    width: 18%;
    margin-bottom: 30px;
}
input {
    text-align: center;
    font-size: 22px;
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:inline-block;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: #989898;
  }
  input:focus{
       outline: none;
  }
  button{
     border:0;
   padding: 9px 90px;
    border-radius: 75px;
    background-color: #274970;
    color: white;
    font-size: 21px;
    cursor: pointer;
  }
  button:hover{
    background-color: #274967;
  }
  a{
      color: green;
  }
  p {
      padding: 20px;
  }
 
  .wrongInput {
      color: red;
  }